@import "common";

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

header {
  margin: 30px;
}

.sort-list {
  display: flex;
  list-style-type: none;
  width: 100%;
  border-bottom: 1px solid #D4D4D4;
  height: 40px;
  line-height: 40px;

  li {

    font-size: 14px;
    color: #a4a4a4;
    text-transform: uppercase;

    &.sort {
      color: #4a86cc;
      cursor: pointer;
    }

    &:nth-of-type(1) {
      width: 420px;
    }
    &:nth-of-type(2) {
      width: 120px;
    }
    &:nth-of-type(3) {
      width: 165px;
    }
    &:nth-of-type(4) {
      width: 195px;
    }
    &:nth-of-type(5) {
      width: 280px;
    }

    &.asc::after {
      content: '';
      width: 9px;
      height: 9px;
      background: url(/img/up.svg) center top no-repeat;
      display: inline-block;
    }

    &.desc::after {
      content: '';
      width: 9px;
      height: 9px;
      background: url(/img/down.svg) center top no-repeat;
      display: inline-block;
    }
  }
}

//.list  .active{
//
//}

.customselect li:hover {
  cursor: pointer;
  background-color: #eee;
}

.customselect ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  z-index: 1000;
  background: white;
  width: 220px;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  box-sizing: border-box;
}

.customselect.open ul {
  display: block;
}

.wrapper_header {
  display: flex;

  .search {
    width: 100%;
    padding-left: 20px;
    padding-top: 5px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .searchBtn{
      background: #ff83d2;
      border: 0px;
      width: 100px;
      color: #fff;
      font-size: 14px;
      border-radius: 0px 5px 5px 0px;
    }

    #datepicker {
      box-sizing: border-box;
      cursor: pointer;
      text-align: left;
      border: 1px solid #cccccc;
      width: 220px;
      height: 35px;
      line-height: 15px;
      //padding: 10px;
      background: #fff;
      margin-left: 19px;
    }

    .customselect {
      width: 200px;
      font-size: 14px;
      display: inline-block;
      margin-left: 10px;

      .title {
        box-sizing: border-box;
        cursor: pointer;
        text-align: left;
        border: 1px solid #cccccc;
        width: 220px;
        height: 35px;
        line-height: 15px;
        padding: 10px;
        background: #fff;

        span {
          color: #bebebe;
          font-size: 12px;
          display: inline-block;
          float: right;
          margin-right: 10px;
        }

        li {
          padding: 2px;
          cursor: pointer;
        }

      }

    }

  }
}

.list {
  width: 1180px;
  display: flex;
  list-style-type: none;
  flex-direction: column;

  .line {
    width: 100%;
    border-bottom: 1px solid #D4D4D4;
    padding-left: 20px;
    &.active {
      background: #fff3fb;
    }

    .inner {
      height: 600px;

      padding-left: 20px;
      justify-content: flex-start;

      .formBtn{
        background: #ff83d2;
        border: none;
        padding: 8px;
        color: #fff;
        border-radius: 5px;
        position: absolute;
        top:225px;
        font-size: 14px;
        width: 150px;

        &:hover{
          opacity: 0.7;
          cursor: pointer;
        }
      }

      .order{
        display: flex;

        .myColumn{
          height: 150px;



          &:nth-of-type(2){
            padding-top: 65px;
            padding-left: 30px;
          }

          .formWrapper{
            //border: 1px solid #00AA00;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            padding-top: 30px;




            input{
              display: block;
              border: 1px solid #ccc;
              height: 35px;
              line-height: 15px;
              background: #fff;
              text-align: left;
              padding-left: 10px;
              font-size: 16px;
              min-width: 220px;
            }

            .myRadio{

              width: 37px;
              height: 37px;
              //border: 1px solid #ccc;
              font-size: 15px;
              line-height: 37px;
              text-align: center;
              border-radius: 5px;
              color: #0e93d5;
              margin-left: 10px;

              &:nth-of-type(1){
                margin-left: 20px;
              }

              &:hover{
                cursor: pointer;
                border: 1px solid #ff83d2;
                color: #ff83d2;
                line-height: 35px;
              }

              &.selected{
                cursor: pointer;
                border: 1px solid #ff83d2;
                color: #ff83d2;
                line-height: 35px;
              }
            }
          }



        }
      }
    }

    .display {
      position: absolute;
      left: 650px;
      top: 30px;
      width: 500px;



      span {

        color: #333333;
        font-size: 20px;
      }

      p {

      }


    }

    .train {
      background: url(/img/ut-coupe-map-info-gs.png);
      width: 618px;
      height: 100px;

      display: flex;

      .train-list {
        width: 458px;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        height: 43px;
        margin: 17px 0 0 96px;

        li {
          width: 19px;
          height: 19px;
          display: block;
          font-size: 10px;
          font-weight: bold;
          margin-right: 2px;
          background: #7d777b;
          color: #fff;
          line-height: 19px;
          text-align: center;
          cursor: pointer;
          user-select: none;

          &.occupied {
            background: #c4bac0;
            cursor: default;
          }
          &.selected {
            background: #0d8fd3;
            border-top: 2px solid #fcbe4f !important;
            line-height: 17px;
          }

          &:nth-of-type(even) {
            border-color: #999;
            margin-bottom: 5px;
          }

          &:nth-of-type(4n) {

          }

          &:nth-of-type(4n-1) {

            margin-right: 6px;
          }

        }

      }

    }

    .item {
      width: 100%;
      height: 73px;
      line-height: 73px;
      display: flex;

      .number {
        width: 50px;
        font-size: 12px;
        color: #8a8a8a;
      }
      .name {
        width: 370px;
        line-height: 20px;
        padding-top: 20px;

        color: #4F81B2;

        span {
          display: block;
          font-size: 12px;
          color: #8a8a8a;
        }
      }
      .count {
        width: 120px;
      }
      .output {
        width: 165px;
      }
      .input {
        width: 195px;
      }
      .mesto {
        width: 165px;
      }
      .btn {
        width: 115px;

        .buy {
          width: 100%;
          height: 36px;
          line-height: 34px;
          border-radius: 5px;
          border: 1px solid #4b87cc;
          color: #4b87cc;
          display: inline-block;
          text-align: center;
          font-size: 14px;
          cursor: pointer;
          background: #fff;

          &:hover {
            opacity: 0.8;
          }
        }

      }

    }

  }

}




